"<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mail HTML Body</title>
</head>
<body>
    <h1>Bokstore </h1>
    <h2>Checkout</h2>
    <h3>Greetings <%= nombre %> . Tu compra se encuentra en proceso.</h3>    
    <h4>Summary:</h4>    
    <p><%= item1 %></p>
    <p><%= item2 %></p>
    <p><%= item3 %></p>

    <img src="http://writingexercises.co.uk/images2/randomimage/yellowballoon.jpg" alt="Italian Trulli">

    
</body>
</html>
"